h2{
    font-size: 16px;
    background-color: rgb(133, 25, 68);
    color: rgb(255, 255, 255);
    border-radius: 10px;
text-align: center;
}
h1{
    background-color: rgb(133, 25, 68);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;/* deixar a ponta do background redondinha*/
}
p{
    text-align: justify;
    font-family:'Montserrat', sans-serif;
    color: black;
    
}
body{
    background-color: rgb(242, 255, 252);
}
h1, h2{
     font-family:Open Sans Condensed;
}
figure img{
    max-width: 350px;

}
.imgweb{
    float:left; /* deixar a imagem/texto do lado que vc quer*/
    padding-right: 15px; /*arrasta*/
}
figure{
    float: left;
    width: 30%; /*largura*/
    text-align: center;
    font-style: italic;
    font-size: smaller;
    border: thin silver solid;
    padding: 0.5em;
    margin-top: 2.5em;
    margin-left: 1px;
    margin-right: 14px;
}
img.scaled{
    width: 100%;
    border-radius:  10px;
}